.container {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    background: #141b3ae8;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(50, 50, 50, 0.331);
    font-family: 'inter', sans-serif;
}

.title {
    text-align: center;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 400px;
    overflow-y: auto;
}

.list::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
}

.list::-webkit-scrollbar-thumb {
    background: #4f46e5;
    border-radius: 8px;
}

.list::-webkit-scrollbar-track {
    background: #141b3ae8;
    border-radius: 8px;
}

.content {
    padding: 12px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background 0.2s ease;
    color: #eee;
    font-weight: 700;
}

.content::last-child {
    border-bottom: none;
}

.content:hover{
    background-color: #e8ebf7;
    border-radius: 15px;
    color: #141b3ae8;
    cursor: default;
}

.content::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #cbd5e0;
    border-radius: 50%;
    transition: background 0.2s ease;
}

.content:hover::before {
    background-color: #141b3ae8;
}

.noResult {
    text-align: center;
    color: #141b3ae8;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px auto;
}

.enun {
  font-weight: bold;
  color: #4f46e5;
}

.next {
    border: none;
    color: #ffffff;
    background: rgba(255, 224, 168, 0.861); 
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.prev {
    border: none;
    color: #ffffff;
    background: rgba(252, 141, 141, 0.941);
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.next:disabled,
.prev:disabled {
  background: #a0aec0;
  cursor: not-allowed;
}